<?xml version='1.0' encoding='UTF-8' ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">
       
    <!-- Target 目標對象 -->
    <bean id="userService" class="user.spring.aop.service.UserService" />
    
    <!-- Advice 通知對象, 也是 Aspect 的具體作為 -->
    <bean id="transactionAdvice" class="user.spring.aop.advice.TransactionAdvice" />
    
    <!-- Proxy 代理:將目標對象和AOP切面進行整合 -->
    <!-- 將通知對象植入目標對象 -->
    <aop:config>
        <!-- 切入點 -->
        <aop:pointcut id="pointcut" expression="execution(* user.spring.aop.service..UserService.*(..))" />
        <!-- 設定切面-->
        <aop:aspect ref="transactionAdvice">
            <aop:before method="before" pointcut-ref="pointcut" />
            <aop:after method="after" pointcut-ref="pointcut" />
            <aop:after-returning method="after_returning" pointcut-ref="pointcut" />
            <aop:after-throwing method="after_throwing" pointcut-ref="pointcut"/>
        </aop:aspect>
    </aop:config>
    
</beans>
